p {
  font-size: 12px;
  text-align: center;
  color: rgba( #000000, .6);
}

footer {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
