<h1>ペットをつくる</h1>

<div>
  <swiper [config]="config" [(index)]="selectedPetId">
    <div *ngFor="let petId of petIds">
      <img src="/assets/images/pet-{{petId}}.png" alt="">
    </div>
  </swiper>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>名前</mat-label>
    <input formControlName="name" placeholder="テスト太郎" type="text" autocomplete="off" matInput required>
    <mat-error *ngIf="nameControl.hasError('required')">必須入力です</mat-error>
    <mat-error *ngIf="nameControl.hasError('maxlength')">長すぎます</mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="gender">
    <mat-radio-button value="male">♂</mat-radio-button>
    <mat-radio-button value="femail">♀</mat-radio-button>
  </mat-radio-group>

  <button [disabled]="form.invalid" mat-raised-button color="primary">つくる</button>
</form>
